<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jack's Highly Original Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <ul class="header">
          <li><a href="/" class="home">Jack's Highly Original Tech Blog</a></li>
          <li class="nav"><a href="/dashboard">Dashboard</a></li>
          <li class="nav"><a href="/login">Login</a></li>
          <li class="nav"><a href="/signup">Signup</a></li>
          <li class="nav"><button id="logout">logout</button></li>
        </ul>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <p>Come Again Soon???</p>
      </footer>
    </div>
    <script src="/javascript/logout.js"></script>
  </body>

</html>