* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(252, 244, 232);
  height: 55px;
}

.nav {
  float: right;
}

.home {
  float: left;
}

li a {
  display: block;
  color: rgb(88, 88, 235);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}
